build:library:
  image: node:8
  before_script:
    - npm ci
    - npm run build-library
  script:
    - mkdir forms-processor
    - cp dist/FormsProcessor.css forms-processor/style.css
    - while read src; do cp "$src" "forms-processor/"; done < <(find dist -name "FormsProcessor.umd.min.*")
  artifacts:
    name: "forms-processor"
    paths:
      - forms-processor/
