build:library:
  stage: build
  image: node:8
  before_script:
    - npm ci
    - npm run build-library
  script:
    - mkdir forms-processor
    - cp dist/FormsProcessor.css forms-processor/style.css
    - cp build/README.md build/package.json forms-processor/
    - sed -i -e "s/%%version%%/${CI_COMMIT_TAG#v}/" forms-processor/package.json
    - while read src; do cp "$src" "forms-processor/"; done < <(find dist -name "FormsProcessor.umd.min.*")
    - cp dist/FormsProcessor.umd.min.js forms-processor/index.js
  artifacts:
    name: "forms-processor-$CI_COMMIT_REF_SLUG"
    paths:
      - forms-processor/
deploy:
  except:
    - branches
  stage: deploy
  image: node:8
  script:
    - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >.npmrc
    - npm publish forms-processor
